src/main/mule/createtestorder.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="createtestorder-httpListenerConfig" basePath="/v1">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="createtestorder-config" api="createtestorder.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <api-gateway:autodiscovery apiId="16379237" doc:name="API Autodiscovery" doc:id="7af749cf-7762-44e0-9ad3-88d6f0a4eed6" flowRef="createtestorder-main" />
	<flow name="createtestorder-main">
        <http:listener config-ref="createtestorder-httpListenerConfig" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="createtestorder-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\create:createtestorder-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="df0a2652-b7d5-4b62-848c-6354b949a61e">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  getDespatchOrderDetailsResponse: {
    despatchOrders: {
      despatchOrder: [
        {
          despatchOrder: "AB00123",
          despatchOrderType: "Standard Order",
          salesOrganization: "Mars Procurement Team",
          distributionChannel: "EX",
          division: "AE",
          soldToParty: {
            location: "10295089",
            name1: "The Boots Company Plc",
            name2: "The Boots Company Plc",
            street1: "D90 East S10",
            street2: "D90 East S10",
            postalCode: "NG90 1BS",
            city: "Nottingham",
            state: "Nottinghamshire",
            country: "GB",
            phone: "02012345678",
            internationalLocationNumber: "5000167000078"
          },
          destination: {
            location: "10295089",
            name1: "The Boots Company Plc",
            name2: "The Boots Company Plc",
            street1: "D90 East S10",
            street2: "D90 East S10",
            postalCode: "NG90 1BS",
            city: "Nottingham",
            state: "Nottinghamshire",
            country: "GB",
            phone: "02012345678",
            internationalLocationNumber: "5000167000078"
          },
          source: {
            location: "0866",
            name1: "Asfordby DC - Chocolate",
            name2: "Asfordby Storage & Haulage",
            street1: "Saxby Road",
            street2: "Saxby Road",
            postalCode: "LE13 1BX",
            city: "Melton Mowbray",
            state: "Leicestershire",
            country: "GB",
            phone: "02087452351",
            internationalLocationNumber: "5000167000078"
          },
          billToParty: {
            location: "0866",
            name1: "Asfordby DC - Chocolate",
            name2: "Asfordby Storage & Haulage",
            street1: "Saxby Road",
            street2: "Saxby Road",
            postalCode: "LE13 1BX",
            city: "Melton Mowbray",
            state: "Leicestershire",
            country: "GB",
            phone: "02087452351",
            internationalLocationNumber: "5000167000078"
          },
          Payer: {
            location: "0866",
            name1: "Asfordby DC - Chocolate",
            name2: "Asfordby Storage & Haulage",
            street1: "Saxby Road",
            street2: "Saxby Road",
            postalCode: "LE13 1BX",
            city: "Melton Mowbray",
            state: "Leicestershire",
            country: "GB",
            phone: "02087452351",
            internationalLocationNumber: "5000167000078"
          },
          requestedDeliveryDate: "2020-11-13T00:00:00CET",
          documentDate: "2020-11-13T00:00:00CET",
          customerPurchaseOrderDate: "2020-11-13T00:00:00CET",
          customerPurchaseOrderType: "Orally",
          customerPurchaseOrderNumber: "Purchase #1234",
          customerReference: "XB156245E",
          shipToPurchaseOrderDate: "2020-11-13T00:00:00CET",
          shipToPurchaseOrderType: "Phone",
          shipToPurchaseOrderNumber: "Purchase #1234",
          shipToReference: "XB156245E",
          incotermPart1: "EXW",
          incotermPart2: "xxxxxxx",
          orderReason: "001",
          orderReasonText: "Commercial Writeoff",
          referenceDocumentNumber: "XB156245E",
          directToCustRefNumber: "1254456244",
          meanOfTransport: "10",
          shippingStrategy: "10",
          billOfLading: "GF02012001",
          currentOrderNumber: "1",
          totalOrderNumber: "3",
          customerDelvAppointmentSt: "2020-11-13T23:00:00CET",
          customerDelvAppointmentEnd: "2020-11-13T23:00:00CET",
          latestDeliveryDate: "2020-11-13T00:00:00CET",
          forwardingAgent: "AGT002",
          forwardingAgentName: "DHL",
          creditManagementStatus: "A",
          creditManagementStatusText: "Approved",
          deliveryStatus: "B",
          deliveryStatusText: "Free Text",
          rejectionStatus: "C",
          rejectionStatusText: "Free Text",
          goodsMovementStatus: "B",
          goodsMovementStatusText: "Free Text",
          billingStatus: "C",
          billingStatusText: "Free Text",
          grossWeight: "123.45",
          weightUom: "KG",
          volume: "234.56",
          volumeUom: "FT3",
          palletSpace: "33",
          palletBase1: "66",
          palletType1: "EP",
          palletBase2: "UP",
          palletType2: "EP",
          palletBase3: "UP",
          palletType3: "EP",
          palletBase4: "UP",
          palletType4: "EP",
          palletBase5: "UP",
          palletType5: "EP",
          homogeneousPallet: "66",
          heterogeneousPallet: "2",
          homogeneousLayer: "0",
          looseCase: "0",
          tradingUnit: "250",
          shippingInstructionText: "Deliver at gate 44",
          commentText: "Comment 1 :…",
          flow: {
            delivery: [
              {
                deliveryNumber: "ABC0032",
                deliveryCreationDate: "2020-11-13T23:00:00CET",
                deliveryPlannedGoodsIssueDate: "2020-11-13T23:00:00CET",
                deliveryActualGoodsIssueDate: "2020-11-13T23:00:00CET"
              }
            ],
            billingDocument: [
              {
                billingDocumentNumber: "DCV983",
                billingCreationDate: "2020-11-13T23:00:00CET"
              }
            ]
          },
          items: {
            item: [
              {
                position: "000010",
                materialReference: "AK266",
                materialDescription: "TOPIC MP 14x4x47g UK",
                customerMaterialReference: "Walmart123",
                internationalArticleNumber: "127816287628762",
                quantity: "15",
                uom: "CS",
                transportationGroup: "0001",
                businessSegment: "01",
                grossWeight: "123.45",
                weightUom: "KG",
                volume: "234.56",
                volumeUom: "M3",
                palletSpace: "33",
                palletBase: "66",
                palletType: "EP",
                homogeneousPallet: "66",
                heterogeneousPallet: "2",
                homogeneousLayer: "0",
                looseCase: "0",
                tradingUnit: "250",
                flavourMigrationType: "ABS",
                plannedQuotaConfirmedQty: "15",
                unplannedQuotaConfirmedQty: "15",
                confirmedQuantity: "15",
                plannedMaterialAvailabilityDate: "2020-11-13T23:00:00CET",
                transportationPlanningDate: "2020-11-13T23:00:00CET",
                plannedLoadingDate: "2020-11-13T23:00:00CET",
                plannedGoodsIssueDate: "2020-11-13T23:00:00CET",
                plannedDeliveryDate: "2020-11-13T23:00:00CET",
                priority: "02",
                stockType: "unrestricted",
                free: "Free",
                plant: "GB40",
                storageLocation: "H001",
                deliveryItem: {
                  deliveryNumber: "0080012345",
                  deliveryPosition: "000010",
                  deliveryQuantity: "10",
                  goodsIssueQuantity: "12",
                  uom: "PAL"
                },
                billingDocumentItem: {
                  billingDocumenntNumber: "0080012345",
                  billingDocumentPosition: "000010",
                  billedQuantity: "10",
                  uom: "CS"
                }
              }
            ]
          }
        }
      ]
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\despatch:createtestorder-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  getDespatchOrderDetailsResponse: {
    despatchOrders: {
      despatchOrder: [
        {
          despatchOrder: "AB00123",
          despatchOrderType: "Standard Order",
          salesOrganization: "Mars Procurement Team",
          distributionChannel: "EX",
          division: "AE",
          soldToParty: {
            location: "10295089",
            name1: "The Boots Company Plc",
            name2: "The Boots Company Plc",
            street1: "D90 East S10",
            street2: "D90 East S10",
            postalCode: "NG90 1BS",
            city: "Nottingham",
            state: "Nottinghamshire",
            country: "GB",
            phone: "02012345678",
            internationalLocationNumber: "5000167000078"
          },
          destination: {
            location: "10295089",
            name1: "The Boots Company Plc",
            name2: "The Boots Company Plc",
            street1: "D90 East S10",
            street2: "D90 East S10",
            postalCode: "NG90 1BS",
            city: "Nottingham",
            state: "Nottinghamshire",
            country: "GB",
            phone: "02012345678",
            internationalLocationNumber: "5000167000078"
          },
          source: {
            location: "0866",
            name1: "Asfordby DC - Chocolate",
            name2: "Asfordby Storage & Haulage",
            street1: "Saxby Road",
            street2: "Saxby Road",
            postalCode: "LE13 1BX",
            city: "Melton Mowbray",
            state: "Leicestershire",
            country: "GB",
            phone: "02087452351",
            internationalLocationNumber: "5000167000078"
          },
          billToParty: {
            location: "0866",
            name1: "Asfordby DC - Chocolate",
            name2: "Asfordby Storage & Haulage",
            street1: "Saxby Road",
            street2: "Saxby Road",
            postalCode: "LE13 1BX",
            city: "Melton Mowbray",
            state: "Leicestershire",
            country: "GB",
            phone: "02087452351",
            internationalLocationNumber: "5000167000078"
          },
          Payer: {
            location: "0866",
            name1: "Asfordby DC - Chocolate",
            name2: "Asfordby Storage & Haulage",
            street1: "Saxby Road",
            street2: "Saxby Road",
            postalCode: "LE13 1BX",
            city: "Melton Mowbray",
            state: "Leicestershire",
            country: "GB",
            phone: "02087452351",
            internationalLocationNumber: "5000167000078"
          },
          requestedDeliveryDate: "2020-11-13T00:00:00CET",
          documentDate: "2020-11-13T00:00:00CET",
          customerPurchaseOrderDate: "2020-11-13T00:00:00CET",
          customerPurchaseOrderType: "Orally",
          customerPurchaseOrderNumber: "Purchase #1234",
          customerReference: "XB156245E",
          shipToPurchaseOrderDate: "2020-11-13T00:00:00CET",
          shipToPurchaseOrderType: "Phone",
          shipToPurchaseOrderNumber: "Purchase #1234",
          shipToReference: "XB156245E",
          incotermPart1: "EXW",
          incotermPart2: "xxxxxxx",
          orderReason: "001",
          orderReasonText: "Commercial Writeoff",
          referenceDocumentNumber: "XB156245E",
          directToCustRefNumber: "1254456244",
          meanOfTransport: "10",
          shippingStrategy: "10",
          billOfLading: "GF02012001",
          currentOrderNumber: "1",
          totalOrderNumber: "3",
          customerDelvAppointmentSt: "2020-11-13T23:00:00CET",
          customerDelvAppointmentEnd: "2020-11-13T23:00:00CET",
          latestDeliveryDate: "2020-11-13T00:00:00CET",
          forwardingAgent: "AGT002",
          forwardingAgentName: "DHL",
          creditManagementStatus: "A",
          creditManagementStatusText: "Approved",
          deliveryStatus: "B",
          deliveryStatusText: "Free Text",
          rejectionStatus: "C",
          rejectionStatusText: "Free Text",
          goodsMovementStatus: "B",
          goodsMovementStatusText: "Free Text",
          billingStatus: "C",
          billingStatusText: "Free Text",
          grossWeight: "123.45",
          weightUom: "KG",
          volume: "234.56",
          volumeUom: "FT3",
          palletSpace: "33",
          palletBase1: "66",
          palletType1: "EP",
          palletBase2: "UP",
          palletType2: "EP",
          palletBase3: "UP",
          palletType3: "EP",
          palletBase4: "UP",
          palletType4: "EP",
          palletBase5: "UP",
          palletType5: "EP",
          homogeneousPallet: "66",
          heterogeneousPallet: "2",
          homogeneousLayer: "0",
          looseCase: "0",
          tradingUnit: "250",
          shippingInstructionText: "Deliver at gate 44",
          commentText: "Comment 1 :…",
          flow: {
            delivery: [
              {
                deliveryNumber: "ABC0032",
                deliveryCreationDate: "2020-11-13T23:00:00CET",
                deliveryPlannedGoodsIssueDate: "2020-11-13T23:00:00CET",
                deliveryActualGoodsIssueDate: "2020-11-13T23:00:00CET"
              }
            ],
            billingDocument: [
              {
                billingDocumentNumber: "DCV983",
                billingCreationDate: "2020-11-13T23:00:00CET"
              }
            ]
          },
          items: {
            item: [
              {
                position: "000010",
                materialReference: "AK266",
                materialDescription: "TOPIC MP 14x4x47g UK",
                customerMaterialReference: "Walmart123",
                internationalArticleNumber: "127816287628762",
                quantity: "15",
                uom: "CS",
                transportationGroup: "0001",
                businessSegment: "01",
                grossWeight: "123.45",
                weightUom: "KG",
                volume: "234.56",
                volumeUom: "M3",
                palletSpace: "33",
                palletBase: "66",
                palletType: "EP",
                homogeneousPallet: "66",
                heterogeneousPallet: "2",
                homogeneousLayer: "0",
                looseCase: "0",
                tradingUnit: "250",
                flavourMigrationType: "ABS",
                plannedQuotaConfirmedQty: "15",
                unplannedQuotaConfirmedQty: "15",
                confirmedQuantity: "15",
                plannedMaterialAvailabilityDate: "2020-11-13T23:00:00CET",
                transportationPlanningDate: "2020-11-13T23:00:00CET",
                plannedLoadingDate: "2020-11-13T23:00:00CET",
                plannedGoodsIssueDate: "2020-11-13T23:00:00CET",
                plannedDeliveryDate: "2020-11-13T23:00:00CET",
                priority: "02",
                stockType: "unrestricted",
                free: "Free",
                plant: "GB40",
                storageLocation: "H001",
                deliveryItem: {
                  deliveryNumber: "0080012345",
                  deliveryPosition: "000010",
                  deliveryQuantity: "10",
                  goodsIssueQuantity: "12",
                  uom: "PAL"
                },
                billingDocumentItem: {
                  billingDocumenntNumber: "0080012345",
                  billingDocumentPosition: "000010",
                  billedQuantity: "10",
                  uom: "CS"
                }
              }
            ]
          }
        }
      ]
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\validate:createtestorder-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="7d43e754-d473-4466-a8de-96b8eebd7d60">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  getDespatchOrderDetailsResponse: {
    despatchOrders: {
      despatchOrder: [
        {
          despatchOrder: "AB00123",
          despatchOrderType: "Standard Order",
          salesOrganization: "Mars Procurement Team",
          distributionChannel: "EX",
          division: "AE",
          soldToParty: {
            location: "10295089",
            name1: "The Boots Company Plc",
            name2: "The Boots Company Plc",
            street1: "D90 East S10",
            street2: "D90 East S10",
            postalCode: "NG90 1BS",
            city: "Nottingham",
            state: "Nottinghamshire",
            country: "GB",
            phone: "02012345678",
            internationalLocationNumber: "5000167000078"
          },
          destination: {
            location: "10295089",
            name1: "The Boots Company Plc",
            name2: "The Boots Company Plc",
            street1: "D90 East S10",
            street2: "D90 East S10",
            postalCode: "NG90 1BS",
            city: "Nottingham",
            state: "Nottinghamshire",
            country: "GB",
            phone: "02012345678",
            internationalLocationNumber: "5000167000078"
          },
          source: {
            location: "0866",
            name1: "Asfordby DC - Chocolate",
            name2: "Asfordby Storage & Haulage",
            street1: "Saxby Road",
            street2: "Saxby Road",
            postalCode: "LE13 1BX",
            city: "Melton Mowbray",
            state: "Leicestershire",
            country: "GB",
            phone: "02087452351",
            internationalLocationNumber: "5000167000078"
          },
          billToParty: {
            location: "0866",
            name1: "Asfordby DC - Chocolate",
            name2: "Asfordby Storage & Haulage",
            street1: "Saxby Road",
            street2: "Saxby Road",
            postalCode: "LE13 1BX",
            city: "Melton Mowbray",
            state: "Leicestershire",
            country: "GB",
            phone: "02087452351",
            internationalLocationNumber: "5000167000078"
          },
          Payer: {
            location: "0866",
            name1: "Asfordby DC - Chocolate",
            name2: "Asfordby Storage & Haulage",
            street1: "Saxby Road",
            street2: "Saxby Road",
            postalCode: "LE13 1BX",
            city: "Melton Mowbray",
            state: "Leicestershire",
            country: "GB",
            phone: "02087452351",
            internationalLocationNumber: "5000167000078"
          },
          requestedDeliveryDate: "2020-11-13T00:00:00CET",
          documentDate: "2020-11-13T00:00:00CET",
          customerPurchaseOrderDate: "2020-11-13T00:00:00CET",
          customerPurchaseOrderType: "Orally",
          customerPurchaseOrderNumber: "Purchase #1234",
          customerReference: "XB156245E",
          shipToPurchaseOrderDate: "2020-11-13T00:00:00CET",
          shipToPurchaseOrderType: "Phone",
          shipToPurchaseOrderNumber: "Purchase #1234",
          shipToReference: "XB156245E",
          incotermPart1: "EXW",
          incotermPart2: "xxxxxxx",
          orderReason: "001",
          orderReasonText: "Commercial Writeoff",
          referenceDocumentNumber: "XB156245E",
          directToCustRefNumber: "1254456244",
          meanOfTransport: "10",
          shippingStrategy: "10",
          billOfLading: "GF02012001",
          currentOrderNumber: "1",
          totalOrderNumber: "3",
          customerDelvAppointmentSt: "2020-11-13T23:00:00CET",
          customerDelvAppointmentEnd: "2020-11-13T23:00:00CET",
          latestDeliveryDate: "2020-11-13T00:00:00CET",
          forwardingAgent: "AGT002",
          forwardingAgentName: "DHL",
          creditManagementStatus: "A",
          creditManagementStatusText: "Approved",
          deliveryStatus: "B",
          deliveryStatusText: "Free Text",
          rejectionStatus: "C",
          rejectionStatusText: "Free Text",
          goodsMovementStatus: "B",
          goodsMovementStatusText: "Free Text",
          billingStatus: "C",
          billingStatusText: "Free Text",
          grossWeight: "123.45",
          weightUom: "KG",
          volume: "234.56",
          volumeUom: "FT3",
          palletSpace: "33",
          palletBase1: "66",
          palletType1: "EP",
          palletBase2: "UP",
          palletType2: "EP",
          palletBase3: "UP",
          palletType3: "EP",
          palletBase4: "UP",
          palletType4: "EP",
          palletBase5: "UP",
          palletType5: "EP",
          homogeneousPallet: "66",
          heterogeneousPallet: "2",
          homogeneousLayer: "0",
          looseCase: "0",
          tradingUnit: "250",
          shippingInstructionText: "Deliver at gate 44",
          commentText: "Comment 1 :…",
          flow: {
            delivery: [
              {
                deliveryNumber: "ABC0032",
                deliveryCreationDate: "2020-11-13T23:00:00CET",
                deliveryPlannedGoodsIssueDate: "2020-11-13T23:00:00CET",
                deliveryActualGoodsIssueDate: "2020-11-13T23:00:00CET"
              }
            ],
            billingDocument: [
              {
                billingDocumentNumber: "DCV983",
                billingCreationDate: "2020-11-13T23:00:00CET"
              }
            ]
          },
          items: {
            item: [
              {
                position: "000010",
                materialReference: "AK266",
                materialDescription: "TOPIC MP 14x4x47g UK",
                customerMaterialReference: "Walmart123",
                internationalArticleNumber: "127816287628762",
                quantity: "15",
                uom: "CS",
                transportationGroup: "0001",
                businessSegment: "01",
                grossWeight: "123.45",
                weightUom: "KG",
                volume: "234.56",
                volumeUom: "M3",
                palletSpace: "33",
                palletBase: "66",
                palletType: "EP",
                homogeneousPallet: "66",
                heterogeneousPallet: "2",
                homogeneousLayer: "0",
                looseCase: "0",
                tradingUnit: "250",
                flavourMigrationType: "ABS",
                plannedQuotaConfirmedQty: "15",
                unplannedQuotaConfirmedQty: "15",
                confirmedQuantity: "15",
                plannedMaterialAvailabilityDate: "2020-11-13T23:00:00CET",
                transportationPlanningDate: "2020-11-13T23:00:00CET",
                plannedLoadingDate: "2020-11-13T23:00:00CET",
                plannedGoodsIssueDate: "2020-11-13T23:00:00CET",
                plannedDeliveryDate: "2020-11-13T23:00:00CET",
                priority: "02",
                stockType: "unrestricted",
                free: "Free",
                plant: "GB40",
                storageLocation: "H001",
                deliveryItem: {
                  deliveryNumber: "0080012345",
                  deliveryPosition: "000010",
                  deliveryQuantity: "10",
                  goodsIssueQuantity: "12",
                  uom: "PAL"
                },
                billingDocumentItem: {
                  billingDocumenntNumber: "0080012345",
                  billingDocumentPosition: "000010",
                  billedQuantity: "10",
                  uom: "CS"
                }
              }
            ]
          }
        }
      ]
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\create:application\json:createtestorder-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="b2018110-9b2d-4722-8eee-24224612e988">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  response: {
    statusCode: "200",
    statusMessage: "Request posted to successfully for further processing",
    referenceDocumentNo: "0500125462"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\despatch:application\json:createtestorder-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="96a047b6-9bf8-49f4-aaf4-087f494ac469">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  response: {
    statusCode: "200",
    statusMessage: "Request posted to successfully for further processing",
    referenceDocumentNo: "0500125462"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\validate:application\json:createtestorder-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="013acf2e-ecce-464f-9e54-9d99c7a0c8aa">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  response: {
    statusCode: "200",
    statusMessage: "Request posted to successfully for further processing",
    referenceDocumentNo: "0500125462"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
